
// Font
$font-family-sans-serif: 'Open Sans', sans-serif;
$font-size-base: 1rem;

// Colors
$white: #ffffff;
$green: #51b6b7;
$pink: #fe96d3;
$primary: $pink;
$blue: #5d8ffc;
$gray: #4a4a4a;
$orange: #ff8600;

// Border Radius
$border-radius:        .2rem !default;
$border-radius-lg:     .3rem !default;
$border-radius-sm:     .2rem !default;

// Navbar
$navbar-dark-color: $white;

// Link
$link-color: $green;

// Modal
$modal-backdrop-bg: $pink;
