
// Fonts
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Icons
@import '~@fortawesome/fontawesome-free/scss/fontawesome.scss';
@import '~@fortawesome/fontawesome-free/scss/regular.scss';
@import '~@fortawesome/fontawesome-free/scss/brands.scss';
@import '~@fortawesome/fontawesome-free/scss/solid.scss';

%box-shadow {
    box-shadow: 3px 5px 25px rgba(173, 181, 189, 0.2);
}

// Button
.btn-success {
  color: $white;
}

// Color
.bg-pink {
  background-color: $pink;
}

.bg-soft-pink {
  background-color: lighten($color: $pink, $amount: 17);
}

.bg-soft-green {
  background-color: lighten($color: $green, $amount: 30);
}

.text-blue {
  color: $blue !important;
}

#header {
  background-image: url('../../images/header-banner.png');
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  min-height: 521px;
  padding-top: 20%;
}

#header-2 {
  background-image: url('../../images/header-banner-2.png');
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
}

#header-3 {
  background-image: url('../../images/header-banner.png');
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
}

#header-event {
  background-image: url('../../images/header-banner-event.png');
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
}

.header-content {
  transform: translateY(25%);
  margin-bottom: 30px;
}

// Navbar
#navbarPrimaryMenu {
  .navbar-nav {
    width: 100%;

    .nav-item {
      justify-content: center;
      display: flex;
      flex: 1;
      font-size: 0.875rem;
      transition: all .2s ease-in-out;

      &.active,
      &:focus,
      &:hover,
      &.dropdown.show {
        background-color: darken($color: $pink, $amount: 5);

        .nav-link {
          color: $white;
        }
      }

      .nav-link {
        justify-content: center;
        display: flex;
        flex: 1;
        align-items: center;
        padding-top: .75rem;
        padding-bottom: .75rem;

        &::after {
          margin-left: 1em;
        }
      }

      .dropdown-menu {
        margin-top: .5rem;
        border: 0;
        border-radius: 0;
        min-width: 200px;
        box-shadow: 0px 5px 10px rgba(0,0,0,.08);

        &::after {
          content: "";
        }

        .dropdown-item {
          padding: 0;

          .sub-menu {
            border-radius: 0;
            padding: 0;
            list-style: none;

            .sub-menu-item {
              background: $white;
              text-decoration: none;

              .dropdown {
                &::after {
                  content: "";
                }
              }

              &.show {
                position: static;
              }

              .sub-dropdown-menu {
                left: 100%;
                top: 0;
                margin-top: 0;
                margin-left: -1px;
                bottom: 0;
                border-left: 1px solid #dddddd;
              }

              .sub-menu-link {
                display: block;
                padding: 10px 15px;
                color: $black;
                font-size: 0.875rem;

                &:hover {
                  text-decoration: none;
                  background-color: $pink;
                }
              }
            }
          }
        }
      }
    }
  }

    @media screen and (max-width: 767px) {
        .navbar-nav {
            border-top: 1px solid darken($color: $pink, $amount: 3) !important;
            margin-top: 5px !important;

            .nav-item {
                display: block;
                padding-left: 10px;
                padding-right: 10px;

                &:focus,
                &:hover,
                &.dropdown.show {
                    background-color: $pink;
                    .nav-link {
                        color: $white;
                    }
                }
            }

            .nav-link {
                justify-content: left !important;
                align-items: left !important;

                &::after {
                    margin-left: auto !important;
                }
            }

        }
    }
}

#topNavbar {
    @media screen and (max-width: 767px) {
        .navbar-nav {
            border-top: 1px solid #eee;
            padding-top: 10px !important;
            display: block;

            li {
                &:nth-child(1) {
                    margin-bottom: 5px;
                }

                a {
                    display: block;
                    width: 100%;
                    background: $green;
                    color: $white;
                    text-align: center;
                }
            }
        }
    }
}

.post-item {
  background: $white;
  box-shadow: 3px 5px 25px rgba($color: $gray-500, $alpha: .2);

  .post-item-categories {
    padding: 0;
    list-style: none;

    li a {
      font-size: 12px;
      letter-spacing: 2px;
      color: $pink;
      text-transform: uppercase;
    }
  }

  .post-item-heading {
    a {
      color: $gray-800;
    }
  }
}

.post-detail {

  p {
    margin-bottom: 20px;
  }

  img {
    width: 100%;
    margin: 50px auto;
    max-width: 80%;
    display: block;
    object-fit: contain;
  }
}

// List Post
.list-posts {

  .post-item {
    width: 100%;

    &.post-vertical {
      display: flex;
      margin-bottom: 2.5rem;
      min-height: 242px;

      .post-item-image {
        width: 40%;
      }

      .post-item-content {
        width: 60%;
        margin: 1rem;
        display: flex;
        flex-direction: column;
      }

      @media screen and (max-width: 767px) {
        display: block;

        .post-item-image {
            width: 100%;
        }

        .post-item-content {
            width: 100%;
            margin: 0;
            padding: 1rem;
            display: block;
        }
      }
    }

    &.post-horizontal {
      display: block;
      margin-bottom: 2rem;

      .post-item-content {
        padding: 1rem;
      }

      .post-item-footer {
        position: relative;
      }
    }

    &.event {
        .post-item-footer {
            color: $gray-800;
        }
    }

    .post-item-heading {
      margin: 0;
    }

    .post-item-image {
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .post-item-content {
      position: relative;

      .read-more {
        display: inline-flex;
        align-items: center;
        letter-spacing: 1px;
        margin: 1rem 0;

        &::after {
          content: "";
          height: 2px;
          width: 25px;
          background: $green;
          margin-left: 10px;
        }
      }
    }

    .post-item-footer {
      font-size: 11px;
      border-top: 1px solid $gray-300;
      color: $gray-500;

      a {
        color: $gray-500;
      }

      .post-meta {
        margin: 0;
        display: inline-block;
        float: right;

        .list-inline-item {
          .fa {
            font-size: .7rem;
          }
        }
      }
    }
  }
}

.post-by {
    letter-spacing: .04rem;
}

// List Post Thumbnail
.list-thumbnail {

  .thumbnail-item {
    display: flex;
    margin-bottom: 20px;
    height: 60px;

    .thumbnail-image {
      width: 25%;
    }

    .thumbnail-content {
      width: 70%;
      padding: 0px 15px;
      position: relative;

      .thumbnail-heading {

        a {
          color: $gray-800;
          font-size: .8rem;
        }
      }

      .thumbnail-footer {
        font-size: .6rem;
        position: absolute;
        bottom: 0;
        right: 15px;
        left: 15px;
        margin-bottom: 0;

        .viewer {
          float: right;
          color: $gray-500;
        }
      }
    }
  }
}

// Sidebar
.sidebar {
  border-left: 1px solid $gray-300;

  @media screen and (max-width: 767px) {
      border-left: 0;
      margin-bottom: 20px;
  }
}

// Widget
.widget {
  margin-top: 50px;

  .widget-heading {
    margin-bottom: 30px;
  }
}

.profile {
  padding-bottom: 20px;
  border-bottom: 1px solid $gray-300;

  img {
    margin-bottom: 15px;
  }
}

// CTA Sidebar
.cta-write {
  height: 197px;
  background-image: url('../../images/feature-image.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.social-link {
  &.facebook {color: #00539b;}
  &.twitter {color: #4a90e2;}
  &.instagram {color: #bd10e0;}
  &.youtube {color: #c70d0d;}
}

// Utilities
.has-line {
  // border-bottom: 4px solid $pink;
  &::after {
    content: "";
    height: 4px;
    width: 130%;
    background: $pink;
    display: block;
    margin-top: 10px;
  }
}

.hr-or {
  position: relative;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;

  .hr-or__line {
    width: 45%;
    height: 2px;
    background: $gray-300;
  }

  .hr-or__text {
    width: 10%;
    background: $white;
    color: $gray-500;
  }

  // &::after {
  //   content: "";
  //   position: absolute;
  //   display: block;
  //   width: 100%;
  //   height: 1px;
  //   background: $gray-300;
  //   top: 50%;
  //   z-index: -1;
  // }
}

.heading-text {
  letter-spacing: 1px;
  color: $gray;
}

.link-pink {
  color: $pink !important;

  &:focus,
  &:hover {
    color: darken($color: $pink, $amount: 3);
  }
}

// Card
.card {
  padding: 10px;

  .card-img-top.rounded-circle {
    width: 100px;
    height: 100px;
    object-position: top;
  }

  &.writer {
    border: none;
    min-height: 280px;

    .card-body {
      padding-left: 0;
      padding-right: 0;

      .join-date,
      .link {
        font-size: .5rem;
        white-space: nowrap;
        overflow: hidden;
      }

      .card-text {
        font-size: 10px;
      }
    }
  }
}

.footer-container {
    display: flex;

    @media screen and (max-width: 767px) {
        flex-direction: column;

        .footer-widget {
            margin-bottom: 20px;
        }
    }
}

.footer-widget {
    width: 100%;

    ul li a {
        font-size: 12px;
        color: $gray-800;
    }
}

.footer-title {
  font-size: 14px;
  font-weight: bold;
}

.credit {
  font-size: 12px;
}

.list-communities {

}

.card-community {
  font-size: 10px;
  height: 278px;
  margin-bottom: 20px;
  border-radius: 5px;
  transition: all .2s ease-in-out;

  .card-img-top {
    object-fit: contain;
    width: 100%;
    height: 100px;
  }

  &:hover {
    @extend %box-shadow;
  }
}

.breadcrumb {
  list-style: none;
  background: none;
  padding: 0 !important;
  margin-top: 20px;

  li {
    display: inline-block;

    &::after {
      content: "/";
      color: $green;
      padding: 0 10px;
    }

    &.active {
      font-weight: bold;
      &::after {
        display: none;
      }
    }
  }
}

.account-page {
  background: $gray-200;

  .account-header {
    background: $white;

    .account-avatar {
      img {
        width: 150px;
        height: 150px;
        margin-top: -40%;
      }
    }

    .cover {
      img {
        width: 100%;
      }
    }
  }
}

.btn-primary,
.btn-primary:hover {
  color: $white;
}

.account-content {
  .widget {
    background: $white;
    padding: 20px;
    font-size: 12px;
    margin-top: 20px;
    box-shadow: 0px 2px 10px rgba(0,0,0,.06);

    .title {
      text-align: center;
      font-size: 16px;
      font-weight: bold;
      margin-bottom: 15px;
      padding-bottom: 15px;
      border-bottom: 1px solid $pink;
    }
  }
}

.filters {
  background: $white;
}

.nav-account {

  .nav-item {
    position: relative;
  }

  .nav-link {
    border-radius: 0;
    padding-top: 1rem;
    padding-bottom: 1rem;
    transition: all .3s ease-in-out;

    &.active,
    &:hover,
    &:focus {
      color: $gray-800;
      background-color: transparent !important;

      &::after {
        content: " ";
        position: absolute;
        height: 3px;
        left: 15px;
        right: 15px;
        bottom: 0;
        background: $green;
      }
    }
  }
}

.box {
  background-color: $white;
  padding: 20px;

  .box-header {
    border-bottom: 1px solid $pink;
    padding-bottom: 15px;
    margin-bottom: 20px;
  }
}

.nav-filter {

  .show {
    .nav-link {
      background-color: transparent;
      color: $gray-500;
    }
  }

  .nav-link {
    padding: 0;
  }
}

.form-account {
  .form-group {
    label {
      color: $green;
    }
  }
}

.comments {
  padding: 30px 20px;

  .cl {
    .cl__item {
      display: flex;
      margin-bottom: 25px;

      .cl__avatar {
        img {
          width: 63px;
          margin-right: 20px;
        }
      }

      .cl__dt {
        width: 100%;

        p {
          margin: 15px 0 10px;
        }

        .cl__dt__rpbtn {
          margin-bottom: 20px;
          a {
            margin-right: 10px;
            color: $gray-500;
            font-size: .8rem;
          }
        }

        .cl__dt__mt {
            margin-top: 10px;
        }
      }

      .cl__rp {
        width: 100%;
        margin-top: 45px;
      }
    }
  }

  .c__form {
    .form-control {
      padding: 20px;
    }
  }
}

.has--box-shadow {
  // box-shadow: 0px 10px 15px -15px rgba(0,0,0,.3);
  &::after {
    content: "";
    display: block;
    background: $white;
    width: 80%;
    height: 33px;
    position: relative;
    margin: 0 auto;
    box-shadow: 0px 10px 23px -13px rgba(0, 0, 0, 0.2);
    border-bottom: 1px solid #f9f9f9;
  }
}

// Modal
.modal {
  &.show {
    display: flex !important;
  }

  .modal-dialog {
    margin: auto;

    .close-modal {
        z-index: 1000;
        position: absolute;
        right: 16px;
        top: 10px;
    }

    .modal-content {
      border: none;
      box-shadow: 0px 0px 30px rgba(0,0,0,.3);
      max-height: 600px;
      display: flex;
      flex-direction: row;

      .modal-content__col {
        width: 100%;
      }

        .modal-content__image {
            overflow: hidden;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-top-left-radius: 10px;
                border-bottom-left-radius: 10px;
            }
        }

        .modal-content__form {
            overflow-x: hidden;
            position: relative;
        }

        @media screen and (max-width: 767px) {
            max-height: 100%;
            flex-direction: column;
        }
    }
  }

  @media screen and (max-width: 767px) {
      padding-right: 0;
  }
}

.h-100vh {
  height: 100vh;
}

.sociallog {
  text-align: center;

  .sociallog__item {
    margin-bottom: 15px;
  }
}

.agreement {
  font-size: 14px;
}

.px-md-6 {
  padding-left: ($spacer * 4) !important;
  padding-right: ($spacer * 4) !important;
}

// Auth Form : ath

.ath__form__container {
  padding: 1.5rem 3rem;
  height: 100%;
  overflow-y: auto;
  margin-left: -15px;
  margin-right: -15px;
}

.ath {
  font-size: 14px;

  .ath__fc {
    font-size: 14px;
    border-radius: 8px;
    padding: 25px 15px;
  }

  .btn {
    border-radius: 8px;
    padding-right: 25px;
    padding-left: 25px;
  }
}

.img-fluid {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.rounded {
  border-radius: .7rem !important;
}

.rounded-left {
  border-top-left-radius: .7rem !important;
  border-bottom-left-radius: .7rem !important;
}

#carouselHeader {
  transform: translateY(50px);

  .carousel-indicators {
    right: 10px;
    left: unset;
    bottom: 25%;
    margin-right: 0;
    margin-left: 0;

    li {
      width: 20px;
      height: 0px;
      background: $white;
      border-radius: 50%;
      opacity: 1;
      margin-right: 1rem;

      &.active {
        background: $green;
      }
    }
  }

  .carousel-inner {
    background: $white;
    max-width: 65%;
    border-radius: 0.7rem !important;

    .carousel-item {
      height: 250px;
      transition: all .3s ease;

      .post-item {
        display: flex;
        flex-direction: column;
        height: 100%;

        .post-item-footer,
        .post-item-footer a {
          color: $gray-500;
        }
      }
    }
  }

  @media screen and (max-width: 767px) {
      .carousel-inner {
          max-width: 100% !important;
      }

      .carousel-indicators {
          bottom: -50px;
          right: 0;
      }
  }
}

#carouselEvent {
    transform: translateY(20%);

    .carousel-indicators {
        right: 10px;
        left: unset;
        bottom: 25%;
        margin-right: 0;
        margin-left: 0;

        li {
          width: 20px;
          height: 0px;
          background: $white;
          border-radius: 50%;
          opacity: 1;
          margin-right: 1rem;

          &.active {
            background: $green;
          }
        }
      }

    .carousel-inner {
        max-width: 65%;
    }

    @media screen and (max-width: 767px) {
        margin-bottom: 100px;

        .carousel-inner {
            max-width: 100% !important;
        }

        .carousel-indicators {
            bottom: -50px;
            right: 0;
        }

        .post-item-footer {
            font-size: .6rem;
        }
    }
}

.size-2 {
  font-size: 2.6rem;
}

.card-faq {
  border: 0;

  .card-header {
    background-color: $white;
  }
}

.blockquotes {
    margin-right: -30px;
    margin-left: -55%;

    padding-top: 30px;
    padding-bottom: 30px;
    padding-right: 30px;
    padding-left: 60%;

    img {
        width: 100px;
        height: 100px;
        object-fit: cover;
    }

    &.orange {
        background: $orange;

        .quotes {
            color: $white;
        }
    }

    .bio {
        font-size: 12px;

        span {
            display: block;
            color: $white;
        }
    }

    .quotes {
        font-size: 26px;
    }
}

.subscribe {

    background: $white;
    padding: 7px 5px;

    .form-control {
        border-top: 0;
        border-left: 0;
        border-bottom: 0;
        border-right: 1px solid #eee;
        margin-right: 10px;

        &:focus {
            box-shadow: none;
        }
    }

    .btn-outline-success {
        border: 0;

        &:hover {
            background: rgba($color: $green, $alpha: .5);
        }
    }
}

.slick-prev {
    &:before {
        font-family: "Font Awesome 5 Free" !important;
        font-weight: 900 !important;
        content: fa-content($fa-var-chevron-left) !important;
    }
}

.slick-next {
    &:before {
        font-family: "Font Awesome 5 Free" !important;
        font-weight: 900 !important;
        content: fa-content($fa-var-chevron-right) !important;
    }
}

.navbar-btn-toggler {
    padding: 10px;
    font-size: 1rem;
    border: 0;
    display: flex;
    width: 100%;
    text-align: left;
    align-items: center;

    .fas {
        font-size: .7rem;
        margin-left: auto;
    }
}
