

.navbar-inverse{background-color: #fe96d3;border-color:#fe96d3;}
.form-control:focus {
  outline: 0;
  border-color: transparent;
  border-bottom-color: #fb55b6;
  -webkit-box-shadow: 0 1px 0 #fb55b6;
  box-shadow: 0 1px 0 #fb55b6;
}
.pink-background{
  background-color: #fff4fa;
}
.border-slate-300 {
  border-color: #fe96d3;
}

.text-slate-300, .text-slate-300:focus, .text-slate-300:hover {
  color: #fe96d3 !important;
}

.btn-primary-pink {
  color: #fff;
  background-color: #fe96d3;
  border-color: #fe96d3;
}

.btn-primary-pink:hover {
  color: #fff;
  background-color: #fb55b6;
  border-color: #fb55b6;
}

.btn-primary-pink:focus, .btn-primary-pink.focus, .btn-primary-pink:hover {
  background-color: #fb55b6;
}

.navbar-default .navbar-nav > .active > a:after {
  background-color: #fb55b6;
}

.dropdown-menu > .active > a, .dropdown-menu > .active > a:focus, .dropdown-menu > .active > a:hover {
  color: #fff;
  text-decoration: none;
  outline: 0;
  background-color: #fe96d3;
}